.header {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  color: aliceblue;
}

.total-sales {
  padding-bottom: 10vh;
  font-size: 5vh;
}

.welcome {
  font-size: 8vh;
  padding: 10vh;
  color: aliceblue;
}

.dashboard-container {
  /* background-color: rgb(183, 232, 163); */
  background: rgb(7, 91, 94);
  background: linear-gradient(
    90deg,
    rgba(7, 91, 94, 1) 0%,
    rgba(9, 83, 121, 1) 35%,
    rgba(0, 255, 203, 1) 100%
  );
}

.chart-container {
  width: 50%;
  padding-bottom: 10vh;
}

.logout-button {
  margin: 2vh;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  padding: 2vh;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
