* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.footer {
  position: absolute;
  top: 2vh;
  right: 2vh;
  display: flex;
  flex-direction: row;
  padding: 2vh;
}

.link {
  text-decoration: none;
  font-weight: bold;
  padding: 2vh;
  margin: 2vh;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}

.link:hover {
  background-color: white;
}

.nonlinkdiv {
  padding: 2vh;
  margin: 2vh;
}

.logout-button {
  margin: 2vh;
  background-color: rgb(183, 232, 163);
  border: 3px solid black;
  border-radius: 5px;
  padding: 2vh;
}

.logout-button:hover {
  margin: 2vh;
  color: white;
  background-color: purple;
  border: 3px solid white;
  border-radius: 5px;
  padding: 2vh;
}

.homepage-content {
  display: flex;
  height: 100vh;
  background-color: rgb(90, 199, 229);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  text-align: center;
  margin: 0;
}

.content-heading {
  padding: 2vh;
}
